body{
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1{
    color: darkblue;
}

p{
    color: black;
    font-size: 20px;
}button{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
}